@model IEnumerable<Music.Models.Album>
@{
    ViewBag.Title = "ShowSomeArtists";
}
<h2>Artists</h2>
<p>
    @Html.ActionLink("Back to Artists", "Index")
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <a href="/Albums/Details/@item.AlbumID">@item.Title</a>
            </td>
            <td>
                <a href="/Genres/ShowSomeGenres/@item.Genre.GenreID">@item.Genre.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
               
            </td>
        </tr>
    }
</table>
